@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

.footer- {
  padding: 0;
  margin: 0;
  bottom: 0%;
  font-family: 'Poppins';
  
}
.footer- p {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  color: white;
  font-size: 0.6em;
  bottom: 0;
  text-align: center;
}



@media (max-width: 800px) {
  .footer- {
    padding: 6;
    margin: 0;
    bottom: 0%;
   
   
  }
  .footer- p {
    position: absolute;
    width: 100%;
    text-align: center;
 
    color: white;
    padding: 0;
    bottom: 0;
    font-size: 0.7em;
  }
 
}
